<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<p>Hello, <%= listingUser %>!</p>
		<p>You have a bid on your item <a href="http://<%= listingURL %>"><%= listingTitle %></a> from <b><%= bidder %></b>:</p>
		<p><q><%= bidMessage %></q></p>
		<p>If you wish, you can reach out to <%= bidder %> by sending them an email at <%= bidderEmail %>.</p>
		<p>	- The College Bazaar Administrator</p>
	</body>
</html>
